*{
  margin: 0;
}
.App{
  background-color: #fafafa;
  height: 100vh;
}
.app__header{
  background-color: white;
  padding:20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  
}
.app__headerImage{
  object-fit: contain;
  width: 6%;
  height: auto;

}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__product{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

}

@media screen and (max-width: 576px) {
  .app__product{
    display: flex;
    flex-direction: column;
    }
    
}
