.imageupload{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imageupload__progres{
    width: 100%;
    
}
@media screen and (max-width: 576px) {
    .imageupload{
        width: 100%;
        padding:20px;
    }
      
  }